/* ----------------------------- NAVBAR -----------------------------*/

.nav-custom {
  background-color: #F6F2F0;
  padding: 0;
  z-index: 3 !important;
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.2), 1px 4px 20px 0 rgba(0, 0, 0, 0.19);

}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

@media (max-width: 770px) {
  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }
}


.nav-item {
  color: #654127;
}

.nav-item:hover {
  color: #D0A450;
}

/* ----------------------------- GLOBAL STYLES -----------------------------*/

section {
  scroll-margin-top: 100px;
}

.btn-custom {
  background-color: #D0A450;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  font-size: large;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px 20px 8px 20px;

}

.btn-custom:hover {
  background-color: #b88a3c;
  color: #ffffff;
}

.btn-custom:focus {
  background-color: #ecaf44;
  color: #ffffff;
}

/* --------------------------MENU SECTION --------------------------*/

.section-title {
  color: var(--marrom_tipo3);
  position: relative;
  margin-top: 20px;
  padding-bottom: 2px;
  margin-bottom: 30px;
  text-align: center;
}

.section-title::after {
  content: '';
  position: absolute;
  display: block;
  width: 200px;
  height: 2px;
  background: var(--dourado_tipo1);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.react-multi-carousel-item {
  display: flex;
   padding: 20px 40px 30px 40px;  /* Espaçamento entre os cards */
}

/* Modificações nas setas */
.react-multi-carousel-list .react-multiple-carousel__arrow {
  background-color: transparent !important; /* Fundo transparente */
  z-index: 1;
}

.react-multi-carousel-list .react-multiple-carousel__arrow::before {
  color: var(--marrom_tipo1);
  font-size: 50px !important; /* Tamanho da seta */
}

/* Posicionamento das setas */
.react-multi-carousel-list .react-multiple-carousel__arrow--left {
    left: 0;
}

.react-multi-carousel-list .react-multiple-carousel__arrow--right {
    right: 0;
}

/* Efeito de aumentar a seta ao passar o mouse */
.react-multi-carousel-list .react-multiple-carousel__arrow:hover::before {
  background-color: transparent;
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

@media (max-width: 1200px) {
.react-multi-carousel-item {
  display: flex;
  padding: 10px 40px 20px 40px; /* Espaçamento entre os cards */
}
}

/* Container principal do card */
.product-card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s ease;
}

@media (max-width: 770px) {
.product-card {
  display: flex;
  width: 512px;
}
}

/* Efeito ao passar o mouse */
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* Container da imagem */
.product-card-image-container {
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 8px 8px 0 0; /* Bordas arredondadas apenas na parte superior */
}

/* Imagem do produto */
.product-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease;
}

/* Efeito de zoom na imagem */
.product-card:hover .product-card-img {
  transform: scale(1.05);
}

/* Corpo do card */
.product-card-body {
  padding: 1.25rem;
  width: 320px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

.product-description-text {
  text-align: left;
}

/* Categoria */
.product-card-body>p:first-child {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

/* Título do produto */
.product-card-body h3 {
  color: var(--marrom_tipo1);
  margin-bottom: 0.75rem;
  font-size: 1.70rem;
}

/* Descrição */
.product-card-body p:nth-of-type(2) {
  color: var(--cinza_tipo1);
  flex-grow: 1;
  margin-bottom: 1rem;
  display: -webkit-box;
  overflow: hidden;
}

/* Sabor */
.card-sabor {
  color: var(--marrom_tipo1);
  font-size: 0.9em;
  margin-top: auto;
}

/* Responsividade */
@media (max-width: 768px) {
  .product-card-image-container {
    height: 180px;
  }

  .product-card-body {
    padding: 1rem;
  }
}

/* ----------------------------- FOOTER ---------------------------------*/

footer {
  width: 100% !important;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #442714;
  color: #ffffff;
}

footer h4 {
  color: #F8ECE8;
}

.footer-container {
  padding: 30px 10px 0px 10px;
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  /* align-items: center; */
  text-align: -webkit-left;
}

.footer-item {
  padding: 10px;
  flex: 1;
}

.footer-item h5 {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.footer-item h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #b88a3c;
}

.btn-icon-footer {
  padding: 0.2rem;
  color: white;
}

.copyright-footer {
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-weight: 200;
  font-size: smaller;
}