/* ----------------------------- NAVBAR -----------------------------*/

.nav-custom {
  background-color: #F6F2F0;
  padding: 0;
  z-index: 3 !important;
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.2), 1px 4px 20px 0 rgba(0, 0, 0, 0.19);

}
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav-item {
  color: #654127;
}

.nav-item:hover {
  color: #D0A450;
}

/* ----------------------------- GLOBAL STYLES -----------------------------*/

section {
  scroll-margin-top: 110px;
}

.btn-custom {
    background-color: #D0A450;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: large;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    
}

.btn-custom:hover {
    background-color: #b88a3c;
    color: #ffffff;
}

.btn-custom:focus {
    background-color: #ecaf44;
    color: #ffffff;
}

/* --------------------------MENU SECTION --------------------------*/

.section-title {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.section-title::after {
  content: '';
  position: absolute;
  display: block;
  width: 200px;
  height: 2px;
  background: #D0A450; /* Usando a cor do seu botão para consistência */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

}

.product-card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
}

.product-card-image-container {
  height: 300px; /* Altura fixa para o contêiner da imagem */
  overflow: hidden; /* Garante que a imagem não transborde */
}

/* Estilo para a imagem do produto */
.product-card-img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0; /* Bordas arredondadas no topo */
  object-fit: cover; /* Cobre todo o espaço do contêiner */
  object-position: center; /* Centraliza a imagem dentro do quadro */
}

.product-card-body {
    display: flex;
    padding: 1.25rem;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-start;
    text-align: -webkit-left;
}

.card-sabor {
  color: #555;
  font-size: 0.9em;
}

/* ----------------------------- FOOTER ---------------------------------*/

footer {
    width: 100% !important;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #442714;
    color: #ffffff;
}

footer h4 {
    color: #F8ECE8;
}

.footer-container {
    padding: 30px 10px 0px 10px;
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    /* align-items: center; */
    text-align: -webkit-left;
}

.footer-item {
    padding: 10px;
    flex: 1;
}

.footer-item h5 {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.footer-item h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #b88a3c;
}

.btn-icon-footer {
    padding: 0.2rem;
    color: white;
}

.copyright-footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-weight: 200;
    font-size: smaller;
}