

#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  box-sizing: border-box;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


/* ----------------------------- FONTS ----------------------------- */
 
/* JosephShophia <-- definição */
  @font-face {
    font-family: 'JosephSophia'; 

    /* 2. Aponte para o arquivo da fonte */
    src: url('./assets/fonts/josephsophia.ttf') format('ttf');

    font-weight: 400; 
    font-style: normal;
  }
  @font-face {
    font-family: 'JosephSophia';
    src: url('./assets/fonts/josephsophia.ttf') format('ttf');
    font-weight: 700; /* 700 é o valor para 'bold' ou 'negrito' */
    font-style: normal;
  }
  /* JosephShophia  */

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-bold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}



/* ----------------------------- INÍCIO  ----------------------------- */


/* COLE ISTO NO SEU App.css */

.secao-home {
  justify-content: center!important;
  align-items: start!important;
  min-height: auto;
  min-width: 100%!important; /* Garante que ocupe a largura total */
  background-color: #442815;

  /* Para centralizar o conteúdo verticalmente */
  /* display: flex; */
  
  object-fit: contain;
  align-items: center;

  /* Seu espaçamento para a Navbar */
  margin-top: 100px;
}

.preparo-title, .preparo-title-sm {
  color: var(--marrom_tipo3);
  position: relative;
  margin-top: 20px;
  padding-bottom: 2px;
  margin-bottom: 30px;
  text-align: center;
}

.preparo-title::after {
  content: '';
  position: absolute;
  display: block;
  width: 180px;
  height: 2px;
  background: var(--dourado_tipo1);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.preparo-title-sm::after {
  content: '';
  position: absolute;
  display: block;
  width: 170px;
  height: 2px;
  background: var(--dourado_tipo1);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.preparo-item-title {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 16px;
  color: var(--marrom_tipo3);
}

.preparo-item-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #b88a3c;
}

/* ------------------------------ CONTACT ----------------------------------- */

/* Títulos da seção */
.contact-title {
  color: #442815;
}

/* Faz o texto alinhar à esquerda */
.text-left {
  text-align: left;
}

/* Remove cor azul de texto hiperlink */
.no-decoration {
  text-decoration: none;
  color: black;
}

/* Formulário de contato */
.contact-form {
  display: flex;
  flex-direction: column;
}

/* Alinha o botão à direita */
.btn-form {
    width: 100px;
    align-self: end;
}

.form-input {
  margin-top: 15px;
}

/* Container das informações de contatos */
.contact-info-aside {
  margin-top: 10px;
}

/* Adiciona linha que separa os contatos do formulário */
.border-left-custom {
  border-left: 1px solid #b88a3c;
  height: 80%;
}

/* Tira borda para caso a tela seja menor que 770px */
@media (max-width: 770px) {
  .border-left-custom {
    border-left: none !important;
    padding-left: 0 !important;
  }
}
