:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, Lato, "Playfair Display";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  /* ---------------------------cores--------------------------- */
--verde_tipo1: #0D393A;
--verde_tipo2: #125959;
--verde_tipo3: #027D7E;
--marrom_tipo1: #442815;
--marrom_tipo2: #4B2C18;
--marrom_tipo3: #654128;
--marrom_tipo4: #8F613C;
--cinza_tipo1: #33302F;
--bege_tipo1: #F7EBE7;
--bege_tipo2: #F6F1F0;
--dourado_tipo1: #D39D38;




  /* ----------------------------------------------------------- */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  /* color: #535bf2; */
  cursor: pointer;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #F6F2F0;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #F6F2F0;
  }
}
